.note--blue {
  background-color: rgb(26, 188, 156);
  box-shadow: 0 1px 5px rgba(26, 188, 156, 0.15);
}

.note--green {
  background-color: rgb(46, 204, 113);
  box-shadow: 0 1px 5px rgba(46, 204, 113, 0.15);
}

.note--purple {
  background-color: rgb(155, 89, 182);
  box-shadow: 0 1px 5px rgba(155, 89, 182, 0.15);
}

.note--yellow {
  background-color: rgb(241, 196, 15);
  box-shadow: 0 1px 5px rgba(241, 196, 15, 0.15);
}

.note--red {
  background-color: rgb(231, 76, 60);
  box-shadow: 0 1px 5px rgba(231, 76, 60, 0.15);
}

.note--grey {
  background-color: rgb(149, 165, 166);
  box-shadow: 0 1px 5px rgba(149, 165, 166, 0.15);
}

.note--orange {
  background-color: rgb(243, 156, 18);
  box-shadow: 0 1px 5px rgba(243, 156, 18, 0.15);
}

.note--brown {
  background-color: rgb(211, 84, 0);
  box-shadow: 0 1px 5px rgba(211, 84, 0, 0.15);
}