$main-color: #f7f7f7;
$secondary-color: #a0cff0;
$transparent-secondary-color: rgba(160, 207, 240, 0.8);
$text-color: #3f3f44;
$substrate-color: rgba(200, 200, 210, 0.7);
$accent-color: #fdcb9e;
$warning-color: #f1d900;
$focus-color: orange;

$transition-time: .3s;
$scrollbar-fix: calc(100vw - 100%);
$inverse-scrollbar-fix: calc(100% - 100vw);
$min-app-width: 640px;
$min-app-height: 500px;