@import '../../styles/settings';

.header {
  background-color: darken($secondary-color, 10%);
  box-sizing: border-box;
  overflow: hidden;
  width: 100%; 

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: $inverse-scrollbar-fix;
    padding: 1rem 2rem;
  }

  &__title {
    color: $main-color;
    font-size: 2rem;
  }
}

.layout__option {
  background-color: $main-color;
  color: darken($secondary-color, 20%);
  cursor: pointer;
  display: table-cell;
  height: 2rem;
  text-align: center;
  transition: background-color $transition-time ease-in-out;
  vertical-align: middle;
  width: 2rem;

  &:hover {
    background-color: darken($main-color, 5%);
  }
  
  &:focus {
    box-shadow: 0 0 0 4px $transparent-secondary-color;
    outline: 0; 
  }

  &--active {
    background-color: $secondary-color;

    &:hover {
      background-color: darken($secondary-color, 5%);
    }
  }
}

@media only screen and (max-width: $min-app-width) {
  .header__container {
    margin-right: 0;
  }
}