@import '../../../../styles/settings';

.notes-container {
  width: 30rem;
  margin: 0 auto 4rem;
  padding-left: $scrollbar-fix;
}

.notes-container--grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
  grid-auto-rows: 10px;
}

@media only screen and (max-width: 900px) {
  .notes-container--grid {
    width: 560px;
  }
}

@media only screen and (min-width: 900px) {
  .notes-container--grid {
    width: 840px;
  }
}

@media only screen and (min-width: 1200px) {
  .notes-container--grid {
    width: 1120px;
  }
}